<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transactions List</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div class="m-4">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction Type</th>
                    <th>Transaction No.</th>
                    <th>Amount</th>
                    <th>Initiated</th>
                    <th>Ac No.</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>
                        <a href="{{ transaction.txn_no }}">{{ transaction.txn_no }}</a>
                    </td>
                    <td>{{ transaction.amt_txned }}</td>
                    <td>{{ transaction.initiated }}</td>
                    <td>{{ transaction.ac_no }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No transactions found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
