<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customers List</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">BankApp</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Customers</a>
                <a href="create/" class="nav-item nav-link">Create Customer</a>
            </div>

            <div class="navbar-nav ms-auto">
                <form method="post" action="/logout/" class="nav-item">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="m-4">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>CIF</th>
                    <th>Name</th>
                    <th>PAN</th>
                    <th>Phone Number</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.cif }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.pan }}</td>
                    <td>{{ customer.ph_no }}</td>
                    <td>{{ customer.created }}</td>
                    <td>{{ customer.modified }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No customers found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
